.title-new {
  display: flex;
  width: 100%;
  height: 40px;
  border-bottom: 3px solid var(--negro);
  border-left: 0.5rem solid var(--azul);
}

.title-box {
  padding: 0 1rem;
  color: var(--blanco);
  background-color: var(--negro);
}

.title-box h2 {
  font-size: 1rem;
}

@media (max-width: 765px) {
  .title-box {
    padding-right: 1.5rem;
  }
  .title-box h2 {
    font-size: 0.8rem;
  }
}
