.checkout-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 50vw;
  padding: 3rem 5rem;
}

.checkout-form h2 {
  color: var(--azul);
  font-weight: bold;
}

.checkout-form p {
  margin-bottom: 3rem;
}

.checkout-image {
  width: 50vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.checkout-submit {
  margin-top: 2rem;
  background-color: var(--negro);
  color: var(--blanco);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  align-self: flex-end;
}

.checkout-submit:hover {
  background-color: var(--azul2);
}

.StripeElement {
  padding: 20px;
  border-radius: 0.3rem;
  border: 1px solid var(--gris);
}

@media (max-width: 1000px) {
  .checkout-container {
    background-image: url('../../../public/img/subcripcion.jpg');
    flex-direction: column;
    height: 100vh;
  }

  .checkout-form {
    background-color: var(--blanco);
    min-width: 330px;
    padding: 40px 20px;
    border-radius: 0.3rem;
  }

  .checkout-image {
    display: none;
  }
}

@media (max-width: 850px) {
  .checkout-form {
    margin-top: 130px;
  }
}
