.navbar-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
    padding: .5rem 1rem;
}

.navbar-box a {
    color: white;
    text-decoration: none;
    font-size: .8rem;
    padding: 0.5em 3em;
}

.navbar-box a:hover {
    border-bottom: .1em solid white;
}