.content-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 1rem;
}

.current-user {
  display: flex;
  margin: auto;
}

.user-logout {
  background-color: var(--negro);
  color: var(--blanco);
  border: 1px solid var(--blanco);
  border-radius: 0.2rem;
  padding: 0.2rem 0.5rem;
  font-weight: 500;
}

.user-logout:hover {
  background-color: var(--blanco);
  color: var(--negro);
}

@media (max-width: 485px) {
  .content-user {
    font-size: .7rem;
  }
}
