.content-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 2rem;
}

.current-user {
  display: flex;
  margin: auto;
}

.user-logout {
  background-color: var(--negro);
  color: var(--blanco);
  border: 1px solid var(--blanco);
  border-radius: 0.2rem;
  padding: 0.2rem 1.5rem;
  font-weight: 500;
}

.user-logout:hover {
  background-color: var(--blanco);
  color: var(--negro);
}
