.container-news-detail {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding: 0 50px;
}

.news-detail-body {
  margin: 20px 0;
}

.news-detail-content img {
  position: relative;
  float: left;
  width: 500px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .container-news-detail {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding: 0 20px;
  }
  .news-detail-content img {
    position: relative;
    float: left;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}