.saved-container {
  margin: 150px 10vw 0 10vw;
}

.charging {
  display: flex;
  width: 70vw;
  height: 900px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 850px) {
  .saved-container {
    margin: 220px 10vw 0 10vw;
  }
}

@media (max-width: 550px) {
  .saved-container {
    margin: 190px 10vw 0 10vw;
  }
}